@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
	--color-rocket: #7159c1;
	--color-yellow: #fad800;
	--color-green: #50fa7b;
	--color-orange: #ff9600;
	--color-gray: #282a36;
	--color-darkergray: #242630;
	--color-black: #0b0a0d;
	--color-white: #fff;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: var(--color-gray);
}

h1,
h2,
h3 {
	color: var(--color-yellow);
	text-align: center;
}

h1 {
	margin-top: 40px;
	line-height: 1.2;
}

p,
li {
	color: var(--color-white);
}

header,
footer {
	background: var(--color-darkergray);
	padding: 30px;
}

header ul li {
	list-style: none;
	display: inline-block;
}

header ul li:not(:first-child) {
	margin-left: 30px;
}

header a {
	color: var(--color-white);
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

/* main {
	min-height: 100vh;
} */

.courses-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 24px;
	margin: 24px;
}

.courses-grid [data-course='starter'] {
	background: var(--color-darkergray);
}

.courses-grid [data-course='launchbase'] {
	background: var(--color-darkergray);
}

.courses-grid [data-course='gostack'] {
	background: var(--color-darkergray);
}

.course {
	display: flex;
	flex-direction: column;
	min-width: 390px;
	/* min-height: 600px; */
	height: max-content;
	padding: 50px 30px;
	cursor: pointer;
}

.course-info {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.rocketseat {
	display: grid;
	place-content: center;
	margin: 40px 0 0 0;
}

.frame-logo {
	width: 360px;
	height: 360px;
	clip-path: circle(50% at 50% 50%);
	position: relative;
}

.frame-logo:before {
	content: '';
	width: 350px;
	height: 350px;
	position: absolute;
	display: block;
	top: 5px;
	left: 5px;
	background: var(--color-black);
	clip-path: circle(50% at 50% 50%);
}

/* .logo-img path {
	fill: var(--color-black);
} */

.wrapper {
	max-width: 940px;
	margin: 0 auto;
}

.wrapper h2 {
	font-size: 24px;
	line-height: 34px;
	font-weight: 500;
	margin-top: 8px;
}

.wrapper p {
	margin: 32px auto;
	font-size: 24px;
	line-height: 34px;
}

.techs {
	margin-top: 120px;
}

.techs h3 {
	font-size: 24px;
	line-height: 34px;
	font-weight: 500;
}

.techs ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style: none;
	margin-top: 40px;
	text-align: center;
}

.techs img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-bottom: 20px;
}

footer {
	margin-top: 40px;
	text-align: center;
	display: flex;
	justify-content: space-around;
}

.social a {
	color: var(--color-white);
	font-size: 18px;
	line-height: 28px;
	margin: 0 16px;
	text-decoration: none;
	border-bottom: 2px solid var(--color-yellow);
}

.social a:hover {
	color: var(--color-yellow);
	transition: color 200ms;
}

/*=== MODAL ===*/
.modal-overlay {
	background: rgba(113, 85, 196, 0.9);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background: var(--color-gray);
	min-width: 660px;
	min-height: 412px;
	height: 80vh;
	position: relative;
	border-radius: 16px;
	padding: 40px 40px 20px 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.modal iframe {
	width: 100%;
	height: 100%;
}

.modal button {
	color: #999;
	font-size: 24px;
	background: none;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
}

#close-modal {
	margin-top: 20px;
	color: #50fa7b;
	text-transform: uppercase;
}

#maximize-modal {
	display: block;
	width: 36px;
	height: 36px;
	margin: 5px;
	position: absolute;
	top: 0;
	right: 0;
}

/*=== MODAL.ACTIVE ===*/
.modal-overlay.active {
	opacity: 1;
	visibility: visible;
}
